.users{

    .info{
        display: felx;
        align-items: center;
        gap: 80px;
        margin-bottom: 20px;

        button{
            padding: 10px;
            cursor: pointer;
        }
    }
}